.table-container-detail {
  width: 100%;
  border: #556172 1px solid;
  margin-bottom: 40px;
}

.table-content-detail {
  border-collapse: collapse;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.back-button-detail {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #629093;
  color: white;
}
.back-button-detail:hover {
  background-color: #73B3B7;
  color: #ffffff !important;
  border: 1px solid #73B3B7 !important;
}

th, td {
  border: none; 
  padding: 8px;
  text-align: left;
}

th {
  width: 15%;
  background-color: #F3F6F9;
}