.count-button {
    width: 100%;
}

.ant-select-selection-item {
    color: #629093;
}

/* Mengubah warna border saat elemen tidak berfokus */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #629093;
    border: 1px solid #629093;
    border-radius: 4px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
    border-color: #629093 !important;
    border: 1px solid #629093 !important;
    border-radius: 4px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:not(:focus) {
    border-color: #629093 !important;
    border: 1px solid #629093 !important;
    border-radius: 4px;
}