.table-container {
    width: 100%;
    border: #556172 1px solid;
    margin-bottom: 40px;
}

.table-content {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: none; 
    padding: 8px;
    text-align: left;
}
  
th {
    width: 15%;
    background-color: #F3F6F9;
}