.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.left-buttons{
    display: flex;
}

.left-buttons .search-box,
.left-buttons .filter-button,
.left-buttons .sort-button,
.left-buttons .count-button {
    margin-right: 20px;
}