.submit-button {
    background-color: #629093;
    border-color: #629093;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #ffffff !important;
    border-color: #629093 !important;
    color: #629093 !important;
}