.table-official-travel-empolyee {
  margin-top: 24px;
}

.detail-button-official-travel-employee {
  border: none;
}

.detail-icon-official-travel-employee {
  color: #629093;
  font-size: 25px;
  cursor: pointer;
}
.detail-icon-official-travel-employee:hover {
  color: #F9B700;
  font-size: 25px;
  cursor: pointer;
}