.project-report {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.components {
  box-shadow: 0 10px 10px 0 #e0e6ed;
}

.text {
  font-size: 100%;
  margin-bottom: 0;
  color: grey;
}

.number {
  margin-top: 0;
}

.in-progress-icon {
  color: #007BFF;
  width: 100%;
  font-size: 40px;
}

.reopen-icon {
  color: #FFC107;
  width: 100%;
  font-size: 40px;
}

.done-icon {
  color: #28A745;
  width: 100%;
  font-size: 40px;
}

.cancel-icon {
  color: #DC3545;
  width: 100%;
  font-size: 40px;
}

.total-project-icon {
  color: #6F42C1;
  width: 100%;
  font-size: 40px;
}

.summary-icon {
  color: #FD7E14;
  width: 100%;
  font-size: 40px;
}

/* Table */
.project-report-table {
  padding: 30px;
  border: 1px solid #e0e6ed;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 #e0e6ed;
  margin-top: 30px;
}

.in-progress-buttons {
  background-color: #ffffff !important;
  border-color: #007BFF !important;; 
  color: #007BFF !important;
  border-radius: 15px !important;
  cursor: default;
}
.in-progress-buttons button {
  pointer-events: none;
}

.done-buttons {
  background-color: #ffffff !important;
  border-color: #28A745 !important;; 
  color: #28A745 !important;
  border-radius: 15px !important;
  cursor: default;
}
.done-buttons button {
  pointer-events: none;
}

.review-buttons {
  background-color: #ffffff !important;
  border-color: #6F42C1 !important;; 
  color: #6F42C1 !important;
  border-radius: 15px !important;
  cursor: default;
}
.review-buttons button {
  pointer-events: none;
}

.cancel-buttons {
  background-color: #ffffff !important;
  border-color: #DC3545 !important;; 
  color: #DC3545 !important;
  border-radius: 15px !important;
  cursor: default;
}
.cancel-buttons button {
  pointer-events: none;
}

.open-buttons {
  background-color: #ffffff !important;
  border-color: #FD7E14 !important;; 
  color: #FD7E14 !important;
  border-radius: 15px !important;
  cursor: default;
}
.open-buttons button {
  pointer-events: none;
}

.detail-button-project-report {
  border: none;
}

.detail-icon-project-report {
  color: #629093;
  font-size: 25px;
  cursor: pointer;
}
.detail-icon-project-report:hover {
  color: #F9B700;
  font-size: 25px;
  cursor: pointer;
}

.table-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #556172;
}