.ok-button {
    background: #629093;
    color: white;
    width: 100%;
}
  
.ok-button:hover {
    background: #ffffff !important;
    color: #629093 !important;
    border-color: #629093 !important;
    width: 100%;
}
  