.layout-container {
  min-height: 100vh;
}

.brand {
  margin-top: 40px;
}

.logo-masagi {
  height: 200px;
  margin-bottom: -40px;
  margin-top: -50px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.left-buttons{
  display: flex;
  gap: 20px;
}

.brand {
  margin-top: 40px;
}