.layout-container {
  min-height: 100vh;
}

.brand {
  margin-top: 40px;
}

.logo-masagi {
  height: 200px;
  margin-bottom: -40px;
  margin-top: -50px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.left-buttons{
  display: flex;
  gap: 20px;
}

.brand {
  margin-top: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-title {
  color: black;
}

.page-sub-title{
  color: #17A2B8;
}

@media only screen and (max-width: 576px) {
  .page-title {
    font-size: 10px;
  }

  .page-sub-title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .username {
    display: none;
  }
}