.date-picker-month {
    width: 100%;
    color: rgba(136, 136, 136, 0.50);
    border-radius: 4px;
}

.date-picker-month:hover {
    border: 1px solid #629093;
}

.approve-permit-button {
    background-color: #629093;
    border-color: #629093;
    border-radius: 4px;
    width: 100px;
}

.approve-permit-button:hover {
    background-color: #ffffff !important;
    border-color: #629093 !important;
    color: #629093 !important;
}

.reject-permit-button {
    background-color: #DC3545;
    border-color: #DC3545;
    border-radius: 4px;
    width: 100px;
}

.reject-permit-button:hover {
    background-color: #ffffff !important;
    border-color: #DC3545 !important;
    color: #DC3545 !important;
}