.input-container {
  display: flex;
  margin-top: -30px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.success-text {
  margin-top: 20px;
  font-size: 30px;
}

.failed-text {
  margin-left: 195px;
  margin-top: 20px;
  font-size: 30px;
}

.success-caption {
  margin-top: -30px;
}

.failed-caption {
  margin-top: -30px;
}

.input-role-name {
  border: 1px solid #629093;
  border-color: #17A2B8 !important;
  width: 500px;
  margin-right: 30px;
}

.permission-title {
  margin-bottom: 10px;
  margin-top: 40px;
}

.tree-permission .ant-tree-checkbox-checked .ant-tree-checkbox-inner,
.tree-permission .ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.tree-permission .ant-tree-checkbox:active .ant-tree-checkbox-inner {
  background-color: #629093 !important;
  border-color: #629093 !important;
}

.tree-permission {
  border: 1px solid #629093;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

.button-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #629093;
  color: white;
  width: 100px;
}
.button-input:hover {
  background-color: #73B3B7;
  color: #ffffff !important;
  border: 1px solid #73B3B7 !important;
}

.save-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #28A745;
  color: white;
  width: 100px;
}
.save-button:hover {
  background-color: #28A745;
  color: #ffffff !important;
  border: 1px solid #28A745 !important;
}

.back-edit-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #DC3545;
  color: white;
  width: 100px;
}
.back-edit-button:hover {
  background-color: #FF7481;
  color: #FFFFFF !important;
  border: 1px solid #DC3545 !important;
}

.success-logo {
  color: #28A745;
}

.failed-logo {
  color: red;
  margin-left: 200px;
}