.dashboard-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dashboard-card .ant-card-head {
  background-color: #629093;
  color: #fff;
  padding: 16px 24px;
  border-bottom: 1px solid #ddd;
}

.dashboard-card .ant-card-body {
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboard-container > .ant-card {
  flex: 1;
  height: 300px;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-container > .ant-card {
    height: auto;
  }
}

.dots {
  background-color: #629093;
}

.custom-dots li.slick-active button {
  background-color: #629093;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

.table-container .ant-table {
  min-width: 600px;
}

.export-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #629093;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}
.export-button:hover {
  background-color: #73B3B7;
  color: #ffffff !important;
  border: 1px solid #73B3B7 !important;
}

.dashboard-search-input .ant-btn {
  background-color: #629093; 
  border-color: #629093;
  margin-bottom: 10px;
}
.dashboard-search-input .ant-btn:hover {
  background-color: #73B3B7;
  color: #ffffff !important;
  border: 1px solid #73B3B7 !important;
}
