.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #629093;
    border: 1px solid #629093;
    border-radius: 4px;
    width: 160px;
}

.filter-icon {
    margin-right: 5px;
}

.filter-button:hover {
    background-color: #629093 !important;
    border-color: #629093 !important;
    color: #ffffff !important;
}