.ant-tabs-tab-active {
    color: rgb(255, 255, 255) !important;
}

.ant-tabs-tab:hover {
    color: #17A2B8 !important;
}

.ant-tabs-ink-bar {
    background-color: #17A2B8 !important;
}

.ant-tabs-tab-btn {
    color: #000000 !important;
}

.edit-education-button,
.edit-family-button {
    background-color: #629093;
    border-color: #629093;
    border-radius: 4px;
    width: 100px;
}

.edit-education-button:hover,
.edit-family-button:hover {
    background-color: #ffffff !important;
    border-color: #629093 !important;
    color: #629093 !important;
}

.education-detail,
.family-detail {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.education-detail-button,
.family-detail-button {
    display: flex;
    gap: 10px;
}