.row {
  gap: 50px;
}

.column {
  width: 50%;
  margin-bottom: 10px;
}

Input {
  border-color: red;
}

@media screen and (max-width: 720px) {
  .row {
    flex-wrap: wrap;
    gap: 0;
  }

  .column {
    width: 100%;
  }
}
