body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

#background-color {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(117.07deg, #629093 -4.42%, #FFFFFF 115.49%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-masagi {
  height: 150px;
}

.form-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px; 
}

.custom-input {
  width: 100%; 
  max-width: 480px;
  height: 40px;
  gap: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #73B3B7 !important;
}
.custom-input input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.button-login {
  width: 100%;
  max-width: 480px;
  height: 40px;
  gap: 1px;
  border-radius: 20px;
  background-color: #629093;
  color: #FFFFFF;
}
.button-login:hover {
  background-color: #73B3B7;
  color: #FFFFFF !important;
  border-color: #73B3B7 !important;
}

.judul-input {
  height: 30px;
}

.error-message {
  color: #f00;
  font-size: 14px;
}