body {
  padding: 0;
  margin: 0;
}

#background-color {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(117.07deg, #629093 -4.42%, #FFFFFF 115.49%);
}

.logo-masagi {
  height: 200px;
  margin-top: -50px;
  margin-bottom: -20px;
}

.form-container {
    font-family: "Inter", sans-serif;
    position: absolute;
    width: 600px;
    height: 450px;
    top: 50px;
    left: 300px;
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.custom-input {
  width: 480px;
  height: 40px;
  gap: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #73B3B7 !important;
}
.custom-input input {
  background-color: rgba(255, 255, 255, 0);
}

.button-login {
  width: 480px;
  height: 40px;
  gap: 1px;
  border-radius: 20px;
  background-color: #629093;
  color: #FFFFFF;
}
.button-login:hover {
  background-color: #73B3B7;
  color: #FFFFFF !important;
  border-color: #73B3B7 !important;
} 

.judul-input {
  height: 30px;
}