.sort-button {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    color: #629093;
    border: 1px solid #629093;
    border-radius: 4px;
}

.sort-icon {
    margin-right: 5px;
}

.sort-button:hover {
    background-color: #629093 !important;
    border-color: #629093 !important;
    color: #ffffff !important;
}