.add-client-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-client-form .add-client-label {
    text-align: left;
}

.add-client-form .add-client-input {
    text-align: right;
} 

.input-address {
    resize: none !important;
    height: 100px;
}

.input-address:hover,
.input-address:focus {
    border-color: #17A2B8 !important;
}

.input-button:hover,
.input-button:focus {
    border-color: #17A2B8 !important;
}

.action-button {
    width:100%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
    gap: 20px;
}

.add-data-button {
    background-color: #629093;
    border-color: #629093;
    border-radius: 4px;
}

.add-data-button:hover {
    background-color: #ffffff !important;
    border-color: #629093 !important;
    color: #629093 !important;
}