.edit-icon {
  color: #629093;
}

.edit-icon:hover {
  color: #f9b700;
}

.update-button {
  width: 100%;
  color: white;
  background-color: #629093;
  border-color: #629093;
  border-radius: 4px;
}

.update-button:hover {
  background-color: #ffffff !important;
  color: #629093 !important;
}
