.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #629093;
    color: white;
    width: 100%;
}

.add-button:hover {
    background-color: #ffffff;
    color: #629093 !important;
    border: 1px solid #629093 !important;
}