.add-button {
    display: inline-flex;
    padding: 8px 16px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #629093;
    color: white;
}