.table-overtime-empolyee {
  margin-top: 24px;
}

.detail-button-overtime-employee {
  border: none;
}

.detail-icon-overtime-employee {
  color: #629093;
  font-size: 25px;
  cursor: pointer;
}
.detail-icon-overtime-employee:hover {
  color: #F9B700;
  font-size: 25px;
  cursor: pointer;
}