h1 {
  font-size: 2em;
  font-weight: 500;
}

.date-bar {
  background: #f9b700;
  color: white;
  padding: 4px 10px;
  margin: 3% 25% 6% 25%;
  border-radius: 5px;
}

.attendance {
  margin: 0 20% 5% 20%;
  padding: 20px;
  border: 1px solid #e0e6ed;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 #e0e6ed;
}

.attendance > center > p {
  color: #556172;
  font-size: 1rem;
  margin: 15px 0 25px 0;
}

.attendance > center > Flex > span {
  margin: 0;
  padding: 0;
}

.attendance-button {
  background: #629093;
  color: white;
  width: 60%;
}

.attendance-button:hover {
  background: #73b3b7;
  color: white !important;
  border-color: white !important;
}

.attendance-info {
  padding: 20px 30px;
  margin-bottom: 3%;
  border: 1px solid #e0e6ed;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 #e0e6ed;
}

.attendance-info > p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: bold;
}
