h1 {
  margin: 0;
  margin-top: 10px;
}

p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 40px;
}

.success-button {
  background: #28a745;
  color: white;
  width: 20%;
}

.success-button:hover {
  opacity: 0.6;
}
