.add-overtime-form {
  width: 100%;
  flex-direction: column;
}

.request-button-overtime {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #629093;
  color: white;
}
.request-button-overtime:hover {
  background-color: #73B3B7;
  color: #ffffff !important;
  border: 1px solid #73B3B7 !important;
}

.save-add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #28A745;
  color: white;
  width: 100px;
}
.save-add-button:hover {
  background-color: #28A745;
  color: #ffffff !important;
  border: 1px solid #28A745 !important;
}

.back-add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #DC3545;
  color: white;
  width: 100px;
}
.back-add-button:hover {
  background-color: #FF7481;
  color: #FFFFFF !important;
  border: 1px solid #DC3545 !important;
}

.upload-button-file {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  color: #000000;
}
.upload-button-file:hover {
  color: #73B3B7 !important;
  border: 1px solid #73B3B7 !important;
}

.cancel-button-overtime {
  color: #000000;
}
.cancel-button-overtime:hover {
  color: #73B3B7 !important;
}

.add-overtime-form .add-overtime-label {
  text-align: left;
}

.type-overtime-select:hover,
.overtime-input:hover,
.start-overtime-input:hover,
.reason-input:hover,
.end-overtime-input:hover,
.duration-input:hover,
.type-overtime-select:focus,
.overtime-input:focus,
.start-overtime-input:focus,
.end-overtime-input:focus 
.duration-input:focus,
.reason-input:focus {
  border: 1px solid #73B3B7 !important;
  border-radius: 6px;
}

.modal-content-overtime {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.failed-title-overtime, .success-title-overtime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-logo-overtime {
  color: #28A745;
}

.success-text-overtime {
  margin-top: 20px;
  font-size: 30px;
}

.success-caption-overtime {
  margin-top: -30px;
}

.failed-logo-overtime {
  color: red;
}

.failed-text-overtime {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.failed-caption-overtime {
  margin-top: -30px;
}